body {
    font-family: Helvetica, Arial, Sans-Serif;
    margin: 60px auto;
    width: 72.5%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: 300;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }
h1 {
    font-size: 2.2em;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul li {
    margin: 10px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
    margin: 10px;
}
