---
layout: default
title: RE-Log
---
<div class="home">
  <h1 class="page-title">Bowen's RE-Log</h1>
  <p>Hi, this is Bowen. I'm documenting my learning notes in this blog.</p>

  <div class="post-list">
    {% for post in site.posts %}
      <div class="post-card">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.excerpt %}
          <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 30 }}</p>
        {% endif %}
        <span class="post-meta">
          Date: {{ post.date | date: "%b %-d, %Y" }}
          | Estimated Reading Time: {{ post.content | number_of_words | divided_by: 200 | plus: 1 }} min
          | Author: {{ site.author }}
        </span>
      </div>
    {% endfor %}
  </div>
</div>
