---
layout: default
title: RE Log
---
<div class="home">
  <h1 class="post-title">Bowen's RE Log</h1>
  <p>Notes at the intersection of Research and Engineering for Deep Learning, Generative Modeling, Reinforcement Learning and AI4Science.</p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% for tag in post.tags %}
            <a class="post-tag" href="{{ '/re-log/' | relative_url }}">{{ tag }}</a>
          {% endfor %}
        </span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.excerpt %}
          <p>{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
